*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    align-items: center;
}

form 
{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #391e4f;
}


input {
    border-radius: 20px;
    height: 46px;
    width: 22%;
    text-align: center;
    background: none;
    border: 2px solid;
    border-color: white;
    color: white;
}

label {
    margin: 5px;
    font-size: 18px; 
    color: white;  
    font-family: 'Montserrat';
}

