@media(max-width: 1024px) {
    .foto_celular{
        width: 50%;
    }
    .chamada__titulo{
        font-size: 3em;
    }
    .primeiro-paragrafo{
        font-size: 1em;
    }
    .chamada__texto_paragrafo{
        font-size: 1em;
    }
    .radio{
       width: 20px;
    }
    .botao{
        width: 50%;
     }
     input{
        width: 50%;
     }
    
}

@media(max-width: 768px) {
   
    .foto_celular{
        width: 50%;
    }
    .chamada__titulo{
        font-size: 2em;
    }
    .primeiro-paragrafo{
        font-size: 1em;
    }
    .chamada__texto_paragrafo{
        font-size: 1em;
    }

    .radio{
        width: 14px;
     }
     .botao{
        width: 50%;
     }
        input{
            width: 50%;
        }
}

@media(max-width: 364px) {
    
    .cabecalho__logo{
            width: 50%;

        }
    .foto_celular{
        width: 50%;
    }
    .chamada__titulo{
        font-size: 1em;
    }
    .primeiro-paragrafo{
        font-size: 1em;
    }
    .chamada__texto_paragrafo{
        font-size: 1em;
    }

    .radio{
        width: 20px;
     }

     .botao{
        width: 50%;
     }

     input{
        width: 50%;
    }
}
