/* Main */
.container{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.cabecalho__logo{
    margin-top: 3em;
}
.chamada_container{
    margin-top: 2em;
}

.chamada__titulo{
    font-family: 'Montserrat' ;
    color: #f4acb0;
    font-size: 5vh;
    font-weight: 600;
}
.chamada__texto_paragrafo {
    font-family: 'Montserrat';
    margin-top: 1em;
    color: white;
}
.primeiro-paragrafo{
    color: white;
    display: block;
    font-size: 18px ;
}
.foto_celular{
    margin-top: 3vh;
}
/*--------*/


/* Formulario / Contato */
.formulario {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.formulario-radio {
    margin-top: 1em;
}
.radio {
    display: inline-block;
    width: 15px;
    height: 14px;
    margin-top: 5px;

}

.radio-label{
    font-size: 13px;
}

.botao{ 
    background-color: #31dae7;
    border: 1px solid;
    border-radius: 20px;
    color: #391e4f;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 10%;
    align-items: center;
    height: 51px;
    margin: 2em;
    font-size: 15px;
}
/*---------*/